<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Form Example</title>
  </head>
  <body>
    <form method="post">
      <h1>Encrypt your data using Vigenere Cipher!</h1><br>
      <label for="messageInput">Message (Capital letters and no spaces):</label>
      <input type="text" name="message">
      <label for="keytInput">Key (Greater than or equal to the length of the message):</label>
      <input type="text" name="key">
      <input type="submit">

    </form>

  </body>
</html>
